.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
  display: flex;
  margin-top: 72px;
  margin-bottom: 68px;
  font-family: "Lato", sans-serif;
}

.about-us__image-box img {
  width: 100%;
}
h3 {
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 17px;
}
.about-us__info-box p {
  padding-bottom: 1vh;
}
.about-us__info-box :nth-child(3) {
  font-style: italic;
  font-size: 24px;
  line-height: 140%;
  margin-top: 26px;
  margin-bottom: 26px;
  letter-spacing: -0.7px;
}

.about-us {
  display: flex;
  margin-top: 72px;
  margin-bottom: 68px;
  font-family: "Lato", sans-serif;
  &__image-box {
    width: 50%;
    padding-right: 17px;
    box-sizing: border-box;
  }
  &__image {
    width: 100%;
  }
  &__info-box {
    width: 50%;
    padding-left: 17px;
    padding-right: 17px;
    box-sizing: border-box;
  }
  &__title {
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 17px;
  }
  &__text {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.14px;
  }
  &__text-italic {
    font-style: italic;
    font-size: 24px;
    line-height: 140%;
    margin-top: 26px;
    margin-bottom: 26px;
    letter-spacing: -0.7px;
  }
}
@media (max-width: 950px) {
  .container {
    flex-direction: column;
  }
  .about-us__image-box {
    width: 100%;
  }
  .about-us__image {
    width: 100%;
  }
  .about-us__info-box {
    width: 100%;
  }
  h3 {
    padding-top: 3vh;
  }
}
@media (max-width: 520px) {
  .about-us {
    margin-top: 0px;
    margin-bottom: 24px;
  }
  .about-us__image {
    width: 100%;
    height: 615px;
    object-fit: cover;
    vertical-align: middle;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .about-us__image-box {
    width: 100%;
    padding: 0;
  }
  .about-us__title {
    margin-top: -600px;
    text-align: center;
    margin-bottom: 600px;
  }
  .about-us__text-italic,
  .about-us__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
  }
}
